<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.munnasharma.socialmedia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/student"
        android:label="Cazime"
        android:supportsRtl="true"
        tools:replace="android:supportsRtl">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".SignUp1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".SignUpPage2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".SignUpPage3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".ForgotPass"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".NextPageForgotPass"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".SearchFields"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ListOfResults"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.munnasharma.ChatActivities.ChatMessagesActivity"
            android:label="label of user message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.munnasharma.ChatActivities.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FriendsListActivity"
            android:label="Find Friends"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.munnasharma.ChatActivities.GroupChatList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.munnasharma.ChatActivities.ThreadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.munnasharma.ChatActivities.AddGroupChat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GroupDetails" />
        <activity android:name="com.example.munnasharma.ChatActivities.CreateChatAcivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>