<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.munnasharma.socialmedia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/student"
        android:label="Cazime"
        android:supportsRtl="true">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".SignUpPage2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".SignUpPage3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".ForgotPass"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".ProfilePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NextPageForgotPass"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name=".SearchFields"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListOfResults"
            android:screenOrientation="portrait" />
        <activity android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" ></activity>
    </application>

</manifest>